// sección Características
.features {
    color: $raisingblack;
    width: 100%;
    height: 100%;
    z-index: 1;
    &__content {
    margin: 60px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
        &__graph {
            width: 318px;
            margin: auto 40px;
            }
        &__text {
            width: 34%;
            margin: 0 30px;
        }
    }
}

// sección Precios
.prices {
    background-image: url('../img/bg-price.svg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-clip: border-box;  
    color: $white;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    &__title{
        padding-top: 200px;
    }
    &__content{
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
            &__free, &__premium {
                width: 278px;
                height: 360px;
            }
        }
}
